body {
  background-image: url(https://st2.depositphotos.com/4521519/10279/v/950/depositphotos_102798858-stock-illustration-seamless-pattern-with-cherry-tree.jpg);
  background-size: cover;
}

main {
  margin: 50px auto;
  text-align: center;
  border: 3px solid rgb(242, 122, 150);
  background-color: white;
  max-width: 40%;
  padding: 40px;
  font-family: 'Roboto';
}

h1 {
  font-family: 'Pacifico';
  font-size: 50px;
  color: rgb(242, 122, 150);
}

img {
  width: 200px;
  border-radius: 50%;
  border: 3px solid rgb(242, 122, 150);
}

p {
  padding: 20px;
}

a {
  padding-right: 5px;
  color: rgb(242, 122, 150);
}